<% include ./partials/header %>
  <script src="js/index.js" type="text/javascript" ></script>
  <link href="css/index.css" type="text/css" rel="stylesheet" />
  <h1 class="header">Landing page</h1>
  <a href='/home'>Home Page</a>
  <div class='temp_warning_box'>
    <h2> <code>PLEASE NOTE</code> </h2>
    <h3 class='text-center'>If you can see this message, this is a very early version of this app with bare minimal functionality.</h3>
    <p>This app started as an attempt at the freeCodeCamp challenge to build a 'Book Trading App'. The challenge notes that the app can trade an item other than books and encourages users to put a twist on the concept.</p>
    <p>Quickly I conceptualised an app which extended the concept to a university app to allow students to trade resources, skills, tutorial sessions ect, however the design of this app is complex and will take a while to design.</p>
    <p>In the mean time I decided to list that app once core functionality was implemented, to submit to the challenge, and work on the bulk extra functionality over time.</p>
    <p class='text-center'><code>The app will look basic for now but should satisfy the core functionality for the challenge.</code> </p>
  </div>
<% include ./partials/footer %>
