<% include ./partials/header %>
  <script src="js/index.js" type="text/javascript" ></script>
  <link href="css/index.css" type="text/css" rel="stylesheet" />
  <h1 class="header">Landing page</h1>
  <a href='/home'>Home Page</a>
<% include ./partials/footer %>
